<app-user-list-card [users_card]="user"  *ngFor="let user of users_list"  ></app-user-list-card>

<div class="row d-flex align-items-center my-5">
  <table class="table table-hover table-bordered table-inverse table-responsive">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
        <th>Cash</th>
        <th>Access rights</th>
        <th>Created At</th>
        <th>Last Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let us of users_list">
        <td scope="row">
          <img style="max-height: 64px" src="{{us.image}}" alt="avatar">
        </td>
        <td>{{us.nom}}</td>
        <td>{{us.role}}</td>
        <td>{{us.fortune}}</td>
        <td>
          <span class="badge bg-primary mx-1" *ngIf="us.privileges.creation">Creation</span>
          <span class="badge bg-secondary mx-1" *ngIf="us.privileges.lecture">lecture</span>
          <span class="badge bg-warning mx-1" *ngIf="us.privileges.modification">modification</span>
          <span class="badge bg-danger mx-1" *ngIf="us.privileges.suppression">supression</span>
        </td>
        <td>{{us.date_creation}}</td>
        <td>{{us.derniere_maj}}</td>
      </tr>
    </tbody>
  </table>
</div>

