<div class="row d-flex align-items-center justify-content-center my-5">
  <app-user-list-card class="col-4" *ngFor="let user of users" [user]="user"></app-user-list-card>
</div>
<div class="row d-flex align-items-center my-5">
  <table class="table table-hover table-bordered table-inverse table-responsive">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
        <th>Cash</th>
        <th>Access rights</th>
        <th>Created At</th>
        <th>Last Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let user of users">
        <td scope="row">
          <img style="max-height: 64px" [src]="user.image" [alt]="'avatar de '+user.nom">
        </td>
        <td>{{user.nom}}</td>
        <td>{{user.role}}</td>
        <td>{{user.fortune}}</td>
        <td>
          <span *ngIf="user.privileges.creation" class="badge bg-primary mx-1">Create</span>
          <span *ngIf="user.privileges.lecture" class="badge bg-secondary mx-1">Read</span>
          <span *ngIf="user.privileges.modification" class="badge bg-warning mx-1">Update</span>
          <span *ngIf="user.privileges.suppression" class="badge bg-danger mx-1">Delete</span>
        </td>
        <td>{{user.date_creation}}</td>
        <td>{{user.derniere_maj}}</td>
      </tr>
    </tbody>
  </table>
</div>
