
<div class="my-5">
  <div class="row d-flex align-items-center my-5">
    <div class="col-md-4 col-lg-6 d-flex">
      <input class="form-control float-right" type="search" placeholder="search by name ..." name="search_bar"
        id="search_bar">
    </div>
    <div class="col-md-8 col-lg-6 d-flex justify-content-around">
      <div class="row align-items-center justify-content-between">
        <button class="col btn btn-success mx-1"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add user">
          <i class="fa fa-user-plus mx-2"></i>
        </button>
        <button class="col btn btn-primary mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Filter user">
          <i class="fa fa-filter mx-2"></i>
        </button>
        <button class="col btn btn-primary mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="display user in card">
          <i class="fa fa-th mx-2"></i>
        </button>
        <button class="col btn btn-primary mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="display user in list">
          <i class="fa fa-list mx-2"></i>
        </button>
        <button class="col btn btn-primary mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="other action">
          <i class="fa fa-ellipsis-h mx-2"></i>
        </button>
      </div>
    </div>
  </div>
  <app-user-list [users]="users"></app-user-list>
  <ngb-pagination size="lg" class="d-flex justify-content-center" [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  <div class="row d-flex align-items-center justify-content-center my-5">
    <p> <button class="btn btn-success"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Save </button> </p>
  </div>
</div>
