<div class="card">
  <div class="card-header">
    <img style="max-height: 64px" [src]="user.image" [alt]="'avatar de '+user.nom">
  </div>
  <div class="card-body">
    <h4 class="card-title">{{user.nom}}</h4>
    <p class="card-text">{{user.role}}</p>
    <p class="text-center">
      <span *ngIf="user.privileges.creation" class="badge bg-primary mx-1">Create</span>
      <span *ngIf="user.privileges.lecture" class="badge bg-secondary mx-1">Read</span>
      <span *ngIf="user.privileges.modification" class="badge bg-warning mx-1">Update</span>
      <span *ngIf="user.privileges.suppression" class="badge bg-danger mx-1">Delete</span>
    </p>
  </div>
  <div class="card-footer bg-dark text-muted row d-flex justify-content-between">
    <div class="col-md" style="font-size: 0.5rem;">
      <small class="text-light">Created At: {{user.date_creation}}</small>
    </div>
    <div class="col-md" style="font-size: 0.5rem;">
      <small class="text-light">Updated At: {{user.derniere_maj}}</small>
    </div>
  </div>
</div>
