<div class="row d-flex align-items-center justify-content-center my-5">
  <div class="card col-4">
    <div class="card-header">
      <img style="max-height: 64px" src="{{users_card.image}}" alt="avatar">
    </div>
    <div class="card-body">
      <h4 class="card-title">{{users_card.nom}}</h4>
      <p class="card-text">{{users_card.role}}</p>
      <p class="text-center">
        <span class="badge bg-primary mx-1" *ngIf="users_card.privileges.creation">Create</span>
        <span class="badge bg-secondary mx-1" *ngIf="users_card.privileges.lecture">Read</span>
        <span class="badge bg-warning mx-1" *ngIf="users_card.privileges.modification">Update</span>
        <span class="badge bg-danger mx-1" *ngIf="users_card.privileges.suppression">Delete</span>
      </p>
    </div>
    <div class="card-footer bg-dark text-muted row d-flex justify-content-between">
      <div class="col-md" style="font-size: 0.5rem;">
        <small class="text-light">Created At:{{users_card.date_creation}}</small>
      </div>
      <div class="col-md" style="font-size: 0.5rem;">
        <small class="text-light">Updated At:{{users_card.derniere_maj}}</small>
      </div>
    </div>
  </div>
</div>
